@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.Home {
  display: flex;
  text-align: center;
  font-family: Quicksand;
  color: #333;
}
.tracksList {
  flex: 1;
}
.favoriteTracksList {
  flex: 1;
}
h1 {
  font-weight: 400;
  margin-top: 1rem;
}
strong {
  color: green;
}

